<div class="content">
  <mat-toolbar class="navbar" position="sticky">
    <img src="../assets/images/logo.png" width="90" >
  <span class="example-spacer"></span>
  <div>
    <button mat-raised-button>
      <a href="https://pcgroupsa.com/" target="_blank" style="text-decoration: none; color: inherit;">
        <span>Sitio Web</span>
      </a>

    </button>
  </div>
  </mat-toolbar>

  <div class="section-center">
    <div class="title">
      <h1 class="text-center" style="font-weight: bold; letter-spacing: 2px;">Términos y Condiciones de venta de Portas Delivery App (Comestibles S.A.)</h1>
      <div style="display: flex; justify-content: center;">
        <span class="text-center">27 de Diciembre de 2023</span>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <h2>Información de Contacto:</h2>
        <span style="letter-spacing: 1px;"><strong>Desarrollador:</strong> PCGroup SA</span>
        <div [innerHTML]="'<span style=&quot;letter-spacing: 1px;&quot;><strong>Contacto:</strong> gerenciasistemas@pcgroupsa.com</span>'"></div>

        <mat-divider class="mt-4"></mat-divider>

        <div class="mt-4" style="text-align: justify;">
          <p>Estos términos y condiciones delimitan y establecen las condiciones bajo las cuales se regirá el E-Commerce que brindará Portas Delivery App</p>

            <h2>Requisitos para usar la app</h2>
            <p>Son elegibles y podrán usar la app todos los usuarios que se hallan registrado correctamente llenando el formulario de registro de la misma aplicación.</p>


            <h2>Procedimiento de registro</h2>
            <p>El cliente o usuario deberá completar el formulario de registro en la aplicación móvil; si se cumplen los requisitos se generara un usuario personal,
              el cual tendrá acceso cada vez que el cliente o usuario ingrese con su sesión.</p>

            <p>El cliente es responsable de la veracidad de los datos proporcionados en el formulario de registro, es decir que sea verídica,
              completa, describa y pertenezca única y exclusivamente al cliente o usuario.</p>

            <h2>Proceso de compra</h2>

            <p>El usuario o cliente elegirá los productos y cantidades que quiere comprar. Una vez que ya tenga listo su “carrito de compras” el cliente procederá a indicar
              si su pedido será “Delivery” o “Pick Up”. En caso de ser Delivery tiene que ingresar su dirección. En caso de ser Pick Up tiene que ingresar la hora a la que
              retirara el producto en tienda. Después elegirá su forma de pago, y finalmente pone la orden una vez que ya halla llenado todo lo que la aplicación le pide.
              El proceso termina con la entrega del pedido, en el cual los entregadores tendrán el derecho de verificar que el usuario que haya pagado en la app sea la misma
              persona que recibe, pidiendo cedula de identidad y tarjeta de crédito.</p>

          <h2>Formas de Pago</h2>
          <p>Hay 2 formas de pago, por medio de tarjeta de crédito el cual el usuario registrara en la aplicación; y también se podrá pagar con efectivo.</p>

          <h2>Modalidades de Entrega</h2>
          <p>El usuario tendrá que registrar su dirección, tanto por medio de GPS, y descripción escrita. Portas Delivery App realizara la entrega hasta en un máximo de 2
            horas después de que el cliente haya hecho su pedido, a no ser que hallan una causa mayor que evite que esto pase; en tal caso el personal de Portas Delivery App
            se pondría en contacto con el cliente.</p>

          <h2>Cambio de productos o devoluciones</h2>
          <p>En caso que el usuario haya pedido un producto, pero este no se encuentre en existencia, el personal de Portas Delivery App contactaran al cliente a explicarle
            la situación, y le ofrecerán al cliente opciones sustitutas para reemplazar ese producto. Cualquier diferencia de precio se hará un cobro, o devolución de dinero
            ya sea a la tarjeta o en efectivo.</p>

          <p>En caso de entrega de productos erróneos, el personal de Portas Delivery App se pondría en contacto con el cliente para que en mutuo acuerdo se le entregue el
            producto correcto, siempre y cuando presente su factura, y no haya pasado más de 24 horas en productos perecederos, y no más de 3 días en productos no perecederos.</p>

          <p>En el caso que el cliente pida devolución de dinero, el plazo y proceso de devolución de dinero dependerá de las políticas del banco emisor de la tarjeta del usuario.
            En caso que la tarjeta no deje devolver el dinero al cliente, se generara un crédito en la app a favor del cliente, atravez de un cupón promocional que se usara \
            exclusivamente en Portas Delivery App.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div style="text-align: center;">
      <p style="color: white;">Created by PCGroup SA. © 2023</p>
    </div>
  </div>
</div>


