<div class="content">
  <mat-toolbar class="navbar" position="sticky">
    <img src="../assets/images/logo.png" width="90" >
  <span class="example-spacer"></span>
  <div>
    <button mat-raised-button>
      <a href="https://pcgroupsa.com/" target="_blank" style="text-decoration: none; color: inherit;">
        <span>Sitio Web</span>
      </a>

    </button>
  </div>
  </mat-toolbar>

  <div class="section-center">
    <div class="title">
      <h1 class="text-center" style="font-weight: bold; letter-spacing: 2px;">Politicas de privacidad</h1>
      <div style="display: flex; justify-content: center;">
        <span class="text-center">27 de Diciembre de 2023</span>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <h2>Información de Contacto:</h2>
        <span style="letter-spacing: 1px;"><strong>Desarrollador:</strong> PCGroup SA</span>
        <div [innerHTML]="'<span style=&quot;letter-spacing: 1px;&quot;><strong>Contacto:</strong> gerenciasistemas@pcgroupsa.com</span>'"></div>

        <mat-divider class="mt-4"></mat-divider>

        <div class="mt-4" style="text-align: justify;">
          <p>El presente Política de Privacidad establece los términos en que PCGroup SA usa y protege la información que es proporcionada por sus usuarios al momento de
            utilizar la Aplicacion de Citas. Esta compañía está comprometida con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal
            con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento. Sin embargo esta Política
            de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que
            está de acuerdo con dichos cambios.</p>

            <h2>Informacion Recopilada</h2>
            <p>Nuestra aplicación tiene la capacidad de recopilar información personal del usuario, como su nombre,
              número de teléfono y dirección de correo electrónico. Esta información se utiliza para personalizar la experiencia del usuario y facilitar la gestión de citas</p>

            <p>
              En ciertas situaciones, podríamos solicitar información adicional específica necesaria para procesar las citas que el usuario desea agendar.
              Esto puede incluir preferencias de servicios, horarios disponibles y cualquier detalle adicional relevante para brindar un servicio personalizado.
              La provisión de información personal es completamente voluntaria y está sujeta al consentimiento del usuario. Al proporcionar estos datos, el usuario acepta que la
              aplicación utilice la información para mejorar la experiencia de reserva y brindar un servicio más personalizado.
            </p>

            <p>
              Queremos asegurarte que implementamos medidas de seguridad para proteger la información del usuario. Utilizamos prácticas de cifrado y acceso restringido para garantizar la confidencialidad y
              seguridad de los datos recopilados. Entendemos la importancia de la privacidad y estamos comprometidos a gestionar de manera responsable la información personal que
              nuestros usuarios confían a nuestra aplicación. Si tienes alguna pregunta sobre cómo manejamos los datos o deseas ejercer tus derechos de privacidad,
              no dudes en ponerte en contacto con nosotros a través de la información proporcionada en nuestra sección de contacto.
            </p>

            <h2>Seguridad</h2>
            <p>En Citas Uñas Bellas, la seguridad de la información del usuario es de suma importancia para nosotros. Hemos implementado medidas de seguridad sólidas y
              adoptamos prácticas avanzadas para proteger la confidencialidad y la integridad de la información recopilada. Algunas de las medidas que hemos implementado
              incluyen:</p>

            <ul>
              <li><strong>Cifrado de Datos:</strong> Todos los datos personales proporcionados por los usuarios se transmiten y almacenan utilizando protocolos de cifrado seguros. Esto ayuda a garantizar que la
                información permanezca privada y protegida contra accesos no autorizados.</li>
              <li>
                <strong>Acceso Restringido:</strong> Limitamos el acceso a la información del usuario a aquellos empleados y socios que necesitan dicha información para proporcionar nuestros servicios. Además,
                implementamos controles de acceso y autenticación para garantizar que solo las personas autorizadas tengan acceso a la información.
              </li>
              <li>
                <strong>Actualizaciones Regulares:</strong> Mantenemos nuestros sistemas y software actualizados regularmente para garantizar que se beneficien de las últimas correcciones de seguridad y
                actualizaciones de software.
              </li>
            </ul>
            <p>
              Entendemos la confianza que depositan los usuarios en nuestra aplicación y nos comprometemos a mantener la seguridad de sus datos como una prioridad fundamental.
              Si tienes preguntas adicionales sobre nuestras prácticas de seguridad o necesitas más información, no dudes en ponerte en contacto con nosotros a través de los
              medios de contacto proporcionados en nuestra sección correspondiente.
            </p>
            <h2>Derechos del Usuario</h2>
            <p>En nuestra aplicacion, reconocemos y respetamos los derechos de privacidad de nuestros usuarios. Los usuarios tienen los siguientes derechos
              con respecto a la información personal que recopilamos</p>
              <ul>
                <li><strong>Derecho de Acceso:</strong>
                  Los usuarios tienen el derecho de solicitar y recibir información sobre los datos personales que hemos recopilado.</li>
                <li><strong>Derecho de Rectificación:</strong>
                  Los usuarios tienen el derecho de corregir cualquier información personal inexacta o incompleta que podamos haber recopilado.</li>
                <li><strong>Derecho de Eliminación:</strong>
                  Los usuarios tienen el derecho de solicitar la eliminación de sus datos personales de nuestros registros, siempre que no haya razones legales o comerciales para retenerlos.</li>
                <li><strong>Derecho de Oposición:</strong>
                  Los usuarios tienen el derecho de oponerse al procesamiento de sus datos personales, especialmente cuando se lleva a cabo con fines de marketing directo.</li>
                <li><strong>Derecho de Portabilidad:</strong>
                  Los usuarios tienen el derecho de recibir los datos personales que nos han proporcionado en un formato estructurado y legible por máquina, y tienen el derecho de transmitir esos datos a otro controlador de datos.</li>
              </ul>
          <h2>Consentimiento</h2>
          <p>El uso de nuestra aplicacion implica el consentimiento del usuario para recopilar y procesar la información personal según se describe en esta política de
            privacidad. Al utilizar la aplicación, los usuarios aceptan los términos y condiciones establecidos en esta política y otorgan su consentimiento para el procesamiento
            de sus datos personales con el propósito de mejorar la experiencia de usuario y proporcionar servicios personalizados.
            Este consentimiento es voluntario y los usuarios tienen la opción de retirarlo en cualquier momento. Sin embargo, retirar el consentimiento puede afectar
            la capacidad de utilizar ciertas funciones de la aplicación.
            Para ejercer cualquiera de los derechos del usuario o retirar el consentimiento, los usuarios pueden ponerse en contacto con nosotros a través de los medios de
            contacto proporcionados en nuestra sección correspondiente. Estamos comprometidos a garantizar que los usuarios tengan control sobre su información y puedan ejercer
            sus derechos de privacidad de manera efectiva.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div style="text-align: center;">
      <p style="color: white;">Created by PCGroup SA. © 2023</p>
    </div>
  </div>
</div>


